## import pandas, numpy module

In [1]:
import pandas as pd
import numpy as np

## 아래와 같은 결과를 만들어주세요

In [2]:
# 아래 셀에서 작성해주세요
NC_final

       안타             홈런
연도   2013 2014 2015 2013 2014 2015
선수명
강구성     0    -    1    0    -    0
강민국     -    0    0    -    0    0
강진성     1    -    -    0    -    -
권희동     -   63    -    -    7    -
김동건     2    -    -    1    -    -
김성욱     1    4    -    0    1    -
김종찬     1    -    -    0    -    -
김종호   129    -  125    0    -    4
김준완     -    2   10    -    0    0
김태군     -    -  107    -    -    6
김태우     -    1    -    -    0    -
김태진     -    -    0    -    -    0
나성범    98  157  184   14   30   28
노진혁     -    3    -    -    1    -
마낙길     9    0    -    0    0    -
모창민   109  110   62   12   16    6
박명환*    -    0    -    -    0    -
박민우    11  124  158    0    1    3
박정준    41    -    8    4    -    0
손시헌     -   90  108    -    5   13
용덕한     -    -   12    -    -    0
이상호    31    -    -    0    -    -
이승호     0    -    -    0    -    -
이종욱     -  126  118    -    6    5
이창섭     0    -    0    0    -    0
이현곤    38    -    -    0    -    -
이호준   123  115  132   20   23   24
조영훈   107   29   35    6    6    8
조평호    21    0    8    2    0    1
지석훈    68   58  111    3    6   11
차화준    24    -    -    1    -    -
최재원     -    0   21    -    0    2
테임즈     -  152  180    -   37   47
허준      -    5    -    -    0    -

In [33]:
# 데이터 불러오기
NC = pd.read_excel("data/NC Dinos.xlsx",
                   sheet_name = None)
NC

OrderedDict([('2013',
                  Unnamed: 0  선수명  팀명   경기   타석   타수   안타  홈런  득점  타점  볼넷   삼진  도루  BABIP  \
              0            0  모창민  NC  108  436  395  109  12  57  51  37   68  16  0.307
              1            1  이호준  NC  126  508  442  123  20  46  87  60  109   2  0.324
              2            2  김종호  NC  128  546  465  129   0  72  22  57  100  50  0.352
              3            3  나성범  NC  104  458  404   98  14  55  64  33   95  12  0.279
              4            4  조영훈  NC  120  426  380  107   6  38  39  39   56   4  0.316
              5            5  이현곤  NC   91  161  139   38   0  10   9  16   14   2  0.304
              6            6  이상호  NC  102  138  125   31   0  26  13   9   21  24  0.298
              7            7  강진성  NC    3    3    2    1   0   1   0   1    0   0  0.500
              8            8  조평호  NC   26   86   79   21   2  12   7   6   24   1  0.358
              9            9  박민우  NC   32   48   42   11   0  10   6   5    7   9  0.306
              10          10  박정준  NC   77  195  167   41   4  24  21  23   44   4  0.303
              11          11  이승호  NC    2    1    0    0   0   0   0   1    0   1      -
              12          12  마낙길  NC   24   31   29    9   0   5   0   1    5   2  0.375
              13          13  김성욱  NC    4    4    4    1   0   0   1   0    2   0  0.500
              14          14  강구성  NC    2    2    2    0   0   0   0   0    0   0  0.000
              15          15  지석훈  NC  104  356  309   68   3  25  35  30   82   2  0.285
              16          16  김종찬  NC    5    7    7    1   0   0   0   0    3   0  0.250
              17          17  차화준  NC   58  121  106   24   1  18   7  12   29   4  0.295
              18          18  김동건  NC    7   17   16    2   1   1   1   1    7   0  0.125
              19          19  이창섭  NC    5    5    5    0   0   0   0   0    2   0  0.000

                     타율    출루율    장타율    OPS   wOBA   WAR
              0   0.276  0.339  0.443  0.782  0.353  2.31
              1   0.278  0.362  0.475  0.837  0.373  1.85
              2   0.277  0.376  0.333  0.709  0.339  1.55
              3   0.243  0.319  0.416  0.735  0.329  1.50
              4   0.282  0.350  0.413  0.763  0.348  0.83
              5   0.273  0.361  0.324  0.685  0.327  0.52
              6   0.248  0.299  0.320  0.619  0.289  0.16
              7   0.500  0.667  1.000  1.667  0.671  0.10
              8   0.266  0.318  0.418  0.736  0.329  0.09
              9   0.262  0.333  0.286  0.619  0.296  0.07
              10  0.246  0.335  0.353  0.688  0.320  0.06
              11      -  1.000      -      -  0.712  0.06
              12  0.310  0.333  0.345  0.678  0.317 -0.03
              13  0.250  0.250  0.250  0.500  0.234 -0.03
              14  0.000  0.000  0.000  0.000  0.000 -0.06
              15  0.220  0.300  0.330  0.630  0.293 -0.09
              16  0.143  0.143  0.143  0.286  0.134 -0.11
              17  0.226  0.306  0.311  0.617  0.289 -0.12
              18  0.125  0.176  0.313  0.489  0.216 -0.14
              19  0.000  0.000  0.000  0.000  0.000 -0.14  ),
             ('2014',
                  Unnamed: 0   선수명  팀명   경기   타석   타수   안타  홈런  득점   타점  볼넷   삼진  도루  BABIP  \
              0            0   테임즈  NC  125  514  443  152  37  95  121  58   99  11  0.367
              1            1   나성범  NC  123  536  477  157  30  88  101  43  128  14  0.397
              2            2   박민우  NC  118  491  416  124   1  87   40  56   89  50  0.373
              3            3   손시헌  NC   97  361  307   90   5  39   39  34   53   2  0.331
              4            4   지석훈  NC  114  238  212   58   6  26   34  16   46   1  0.323
              5            5   이호준  NC  122  500  424  115  23  59   78  67  104   2  0.305
              6            6   권희동  NC  101  252  221   63   7  39   36  25   43   6  0.324
              7            7   모창민  NC  122  468  419  110  16  62   72  37   82  14  0.289
              8            8   이종욱  NC  124  495  438  126   6  73   79  40   60  15  0.313
              9            9   김준완  NC    6    5    4    2   0   1    0   1    1   1  0.667
              10          10   최재원  NC    2    2    1    0   0   1    0   1    1   0      -
              11          11   마낙길  NC    2    2    1    0   0   1    0   1    0   0  0.000
              12          12   조영훈  NC   92  124  111   29   6  15   22  10   26   1  0.288
              13          13   김태우  NC    4    5    5    1   0   0    0   0    3   0  0.500
              14          14  박명환*  NC    2    1    1    0   0   0    0   0    1   0      -
              15          15   조평호  NC    2    2    2    0   0   0    0   0    0   0  0.000
              16          16   강민국  NC    6    3    3    0   0   0    0   0    0   0  0.000
              17          17    허준  NC   28   36   29    5   0   2    1   5   10   0  0.263
              18          18   김성욱  NC   26   26   23    4   1   6    1   3    9   1  0.231
              19          19   노진혁  NC   25   16   16    3   1   3    2   0    7   0  0.250

                     타율    출루율    장타율    OPS   wOBA   WAR
              0   0.343  0.422  0.688  1.110  0.456  6.36
              1   0.329  0.400  0.597  0.997  0.424  5.94
              2   0.298  0.392  0.399  0.791  0.365  2.73
              3   0.293  0.368  0.414  0.782  0.349  1.52
              4   0.274  0.340  0.462  0.802  0.352  0.97
              5   0.271  0.371  0.481  0.852  0.369  0.88
              6   0.285  0.363  0.443  0.806  0.353  0.62
              7   0.263  0.320  0.413  0.733  0.319  0.17
              8   0.288  0.343  0.411  0.754  0.332  0.13
              9   0.500  0.600  0.500  1.100  0.509  0.11
              10  0.000  0.500  0.000  0.500  0.363  0.01
              11  0.000  0.500  0.000  0.500  0.363  0.01
              12  0.261  0.325  0.459  0.784  0.337 -0.02
              13  0.200  0.200  0.400  0.600  0.244 -0.03
              14  0.000  0.000  0.000  0.000  0.000 -0.03
              15  0.000  0.000  0.000  0.000  0.000 -0.07
              16  0.000  0.000  0.000  0.000  0.000 -0.10
              17  0.172  0.294  0.276  0.570  0.268 -0.11
              18  0.174  0.269  0.348  0.617  0.272 -0.15
              19  0.188  0.188  0.375  0.563  0.231 -0.18  ),
             ('2015',
                  Unnamed: 0  선수명  팀명   경기   타석   타수   안타  홈런   득점   타점   볼넷   삼진  도루  \
              0            0  테임즈  NC  142  595  472  180  47  130  140  103   91  40
              1            1  나성범  NC  144  622  564  184  28  112  135   33  127  23
              2            2  박민우  NC  141  617  520  158   3  111   47   73  108  46
              3            3  이호준  NC  131  518  449  132  24   48  110   61  102   0
              4            4  김종호  NC  133  486  424  125   4   90   36   44   65  41
              5            5  조영훈  NC  103  146  124   35   8   20   35   19   36   3
              6            6  손시헌  NC  140  508  440  108  13   56   58   36   66   3
              7            7  이종욱  NC  125  504  440  118   5   63   52   54   78  17
              8            8  모창민  NC  103  239  214   62   6   23   35   18   52   5
              9            9  지석훈  NC  137  466  415  111  11   53   46   23   85   4
              10          10  용덕한  NC   50   49   42   12   0    4    5    5    8   2
              11          11  최재원  NC  114  102   85   21   2   31   13   10   29  14
              12          12  박정준  NC   19   24   21    8   0    2    2    0    5   0
              13          13  김태군  NC  144  474  421  107   6   45   52   25   77   1
              14          14  조평호  NC   22   22   22    8   1    4    3    0    6   0
              15          15  이창섭  NC   15    8    5    0   0    0    0    3    3   0
              16          16  김준완  NC   30   54   44   10   0   12    2   10   10   2
              17          17  강구성  NC    4    5    5    1   0    0    0    0    0   0
              18          18  강민국  NC    1    2    2    0   0    0    0    0    1   0
              19          19  김태진  NC    1    3    3    0   0    0    0    0    0   0

                  BABIP     타율    출루율    장타율    OPS   wOBA    WAR
              0   0.390  0.381  0.497  0.790  1.287  0.520  11.73
              1   0.374  0.326  0.373  0.553  0.926  0.390   4.46
              2   0.373  0.304  0.399  0.404  0.803  0.364   3.52
              3   0.332  0.294  0.381  0.510  0.891  0.381   2.19
              4   0.338  0.295  0.364  0.394  0.758  0.340   1.03
              5   0.329  0.282  0.372  0.540  0.912  0.389   1.00
              6   0.260  0.245  0.319  0.398  0.717  0.316   0.85
              7   0.315  0.268  0.351  0.368  0.719  0.322   0.84
              8   0.352  0.290  0.340  0.439  0.779  0.340   0.76
              9   0.311  0.267  0.328  0.383  0.711  0.317   0.51
              10  0.353  0.286  0.375  0.310  0.685  0.326   0.44
              11  0.352  0.247  0.366  0.412  0.778  0.350   0.30
              12  0.500  0.381  0.458  0.476  0.934  0.417   0.25
              13  0.293  0.254  0.307  0.354  0.661  0.294   0.25
              14  0.467  0.364  0.364  0.591  0.955  0.401   0.18
              15  0.000  0.000  0.375  0.000  0.375  0.286  -0.01
              16  0.294  0.227  0.370  0.227  0.597  0.308  -0.04
              17  0.200  0.200  0.200  0.400  0.600  0.242  -0.04
              18  0.000  0.000  0.000  0.000  0.000  0.000  -0.06
              19  0.000  0.000  0.000  0.000  0.000  0.000  -0.09  )])

In [34]:
# 2013, 2014, 2015 시즌 정보를 읽어서 각각 NC13, NC14, NC15에 저장
NC13, NC14, NC15 = NC.values()

In [35]:
# 필요없는 컬럼 제거
NC13.drop(['Unnamed: 0'], axis = 1, inplace = True)
NC14.drop(['Unnamed: 0'], axis = 1, inplace = True)
NC15.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [39]:
NC13.set_index(['선수명'], inplace = True)
NC14.set_index(['선수명'], inplace = True)
NC15.set_index(['선수명'], inplace = True)

In [43]:
# 안타(hit)
NC_hit = pd.concat([NC13['안타'], NC14['안타'], NC15['안타']], axis = 1, sort = True).fillna('-')

# 행 설정
NC_hit.index.set_names(['선수명'], inplace = True)

# 열 설정
NC_hit.columns = [['안타', '안타', '안타'], [2013, 2014, 2015]]
NC_hit.columns.set_names([' ', '연도'], inplace = True)

In [44]:
NC_hit

       안타
연도   2013 2014 2015
선수명
강구성     0    -    1
강민국     -    0    0
강진성     1    -    -
권희동     -   63    -
김동건     2    -    -
김성욱     1    4    -
김종찬     1    -    -
김종호   129    -  125
김준완     -    2   10
김태군     -    -  107
김태우     -    1    -
김태진     -    -    0
나성범    98  157  184
노진혁     -    3    -
마낙길     9    0    -
모창민   109  110   62
박명환*    -    0    -
박민우    11  124  158
박정준    41    -    8
손시헌     -   90  108
용덕한     -    -   12
이상호    31    -    -
이승호     0    -    -
이종욱     -  126  118
이창섭     0    -    0
이현곤    38    -    -
이호준   123  115  132
조영훈   107   29   35
조평호    21    0    8
지석훈    68   58  111
차화준    24    -    -
최재원     -    0   21
테임즈     -  152  180
허준      -    5    -

In [45]:
# 홈런(homerun)
NC_hom = pd.concat([NC13['홈런'], NC14['홈런'], NC15['홈런']], axis = 1, sort = True).fillna('-')

# 행 설정
NC_hom.index.set_names(['선수명'], inplace = True)

# 열 설정
NC_hom.columns = [['홈런', '홈런', '홈런'], [2013, 2014, 2015]]
NC_hom.columns.set_names([' ', '연도'], inplace = True)

In [46]:
NC_hom

       홈런
연도   2013 2014 2015
선수명
강구성     0    -    0
강민국     -    0    0
강진성     0    -    -
권희동     -    7    -
김동건     1    -    -
김성욱     0    1    -
김종찬     0    -    -
김종호     0    -    4
김준완     -    0    0
김태군     -    -    6
김태우     -    0    -
김태진     -    -    0
나성범    14   30   28
노진혁     -    1    -
마낙길     0    0    -
모창민    12   16    6
박명환*    -    0    -
박민우     0    1    3
박정준     4    -    0
손시헌     -    5   13
용덕한     -    -    0
이상호     0    -    -
이승호     0    -    -
이종욱     -    6    5
이창섭     0    -    0
이현곤     0    -    -
이호준    20   23   24
조영훈     6    6    8
조평호     2    0    1
지석훈     3    6   11
차화준     1    -    -
최재원     -    0    2
테임즈     -   37   47
허준      -    0    -

In [48]:
# 안타와 홈런 병합
NC_final = pd.concat([NC_hit, NC_hom], axis = 1).fillna('-')
NC_final

       안타             홈런
연도   2013 2014 2015 2013 2014 2015
선수명
강구성     0    -    1    0    -    0
강민국     -    0    0    -    0    0
강진성     1    -    -    0    -    -
권희동     -   63    -    -    7    -
김동건     2    -    -    1    -    -
김성욱     1    4    -    0    1    -
김종찬     1    -    -    0    -    -
김종호   129    -  125    0    -    4
김준완     -    2   10    -    0    0
김태군     -    -  107    -    -    6
김태우     -    1    -    -    0    -
김태진     -    -    0    -    -    0
나성범    98  157  184   14   30   28
노진혁     -    3    -    -    1    -
마낙길     9    0    -    0    0    -
모창민   109  110   62   12   16    6
박명환*    -    0    -    -    0    -
박민우    11  124  158    0    1    3
박정준    41    -    8    4    -    0
손시헌     -   90  108    -    5   13
용덕한     -    -   12    -    -    0
이상호    31    -    -    0    -    -
이승호     0    -    -    0    -    -
이종욱     -  126  118    -    6    5
이창섭     0    -    0    0    -    0
이현곤    38    -    -    0    -    -
이호준   123  115  132   20   23   24
조영훈   107   29   35    6    6    8
조평호    21    0    8    2    0    1
지석훈    68   58  111    3    6   11
차화준    24    -    -    1    -    -
최재원     -    0   21    -    0    2
테임즈     -  152  180    -   37   47
허준      -    5    -    -    0    -

In [ ]:
# 오답

# 연도 column 추가
NC13['연도'] = 2013
NC14['연도'] = 2014
NC15['연도'] = 2015

# 필요한 columns만 추출
col13 = NC13[['선수명', '안타', '홈런', '연도']]
col14 = NC14[['선수명', '안타', '홈런', '연도']]
col15 = NC15[['선수명', '안타', '홈런', '연도']]

NC_middle = pd.concat([col13, col14, col15], axis = 1).fillna('-')

# pd.concat 수행
# 행으로 합치기

#NC.columns = [['안타', '홈런'], [2013, 2014, 2015]]
NC.columns = [[('안타', [2013, 2014, 2015]), ('홈런', [2013, 2014, 2015])]]

NC_middle

In [31]:
# 오답
NC_middle

    선수명   안타  홈런    연도   선수명   안타  홈런    연도  선수명   안타  홈런    연도
0   모창민  109  12  2013   테임즈  152  37  2014  테임즈  180  47  2015
1   이호준  123  20  2013   나성범  157  30  2014  나성범  184  28  2015
2   김종호  129   0  2013   박민우  124   1  2014  박민우  158   3  2015
3   나성범   98  14  2013   손시헌   90   5  2014  이호준  132  24  2015
4   조영훈  107   6  2013   지석훈   58   6  2014  김종호  125   4  2015
5   이현곤   38   0  2013   이호준  115  23  2014  조영훈   35   8  2015
6   이상호   31   0  2013   권희동   63   7  2014  손시헌  108  13  2015
7   강진성    1   0  2013   모창민  110  16  2014  이종욱  118   5  2015
8   조평호   21   2  2013   이종욱  126   6  2014  모창민   62   6  2015
9   박민우   11   0  2013   김준완    2   0  2014  지석훈  111  11  2015
10  박정준   41   4  2013   최재원    0   0  2014  용덕한   12   0  2015
11  이승호    0   0  2013   마낙길    0   0  2014  최재원   21   2  2015
12  마낙길    9   0  2013   조영훈   29   6  2014  박정준    8   0  2015
13  김성욱    1   0  2013   김태우    1   0  2014  김태군  107   6  2015
14  강구성    0   0  2013  박명환*    0   0  2014  조평호    8   1  2015
15  지석훈   68   3  2013   조평호    0   0  2014  이창섭    0   0  2015
16  김종찬    1   0  2013   강민국    0   0  2014  김준완   10   0  2015
17  차화준   24   1  2013    허준    5   0  2014  강구성    1   0  2015
18  김동건    2   1  2013   김성욱    4   1  2014  강민국    0   0  2015
19  이창섭    0   0  2013   노진혁    3   1  2014  김태진    0   0  2015

## 같은 결과를 보기 위해서 random seed를 321로 설정하기

In [49]:
np.random.seed(321)

## 아래 셀은 실행시켜주세요
### 자세한 함수는 수업전에 설명해드리겠습니다
### 궁금하신분은 구글링을 통해서 미리 공부하고 와도 좋아요~

In [50]:
# Set index multi column index
num = np.repeat(['19기', '20기', '21기'], (2, 7, 16))
dic={1:'문과', 2:'이과'}
major = [dic[x] for x in np.random.randint(1, 3, 25)]
name = ['양용준', '김현기', '김우찬', '김지윤', '박세희', '박윤정',
        '이가은', '정범영', '정예지', '강주연', '김현아', '김혜진', 
        '문성희', '이세영', '이영주', '이현서', '이다빈', '천승아',
        '나윤진', '박수완', '서민혁', '이상민', '전윤아', '정현정', '조준혁']

## 아래 그림과 같은 결과가 나오게 만들어주세요
### 점수는 1~100점사이의 임의의 값을 넣으면 됩니다
### row index는 만들어놨으니 column index만 설정해주세요
### 최종 데이터프레임 변수명은 저와 같이 python_study로 설정해주세요
### 결과물은 거짓이고 컴퓨터가 임의로 정한거에요 저를 원망하지 마세요ㅠㅠ

In [3]:
# 여기 셀 말고 아래 셀에서 작성해주세요
python_study

           1학기         2학기
            언어  수리 외국어  언어  수리 외국어
19기 문과 양용준  32  11  56  35  19   4
       김현기  42  51  13  31  98  15
20기 문과 김우찬  30  11   2  34   1   5
    이과 김지윤  76  53   4  17  64  84
       박세희  40  31  92   5  44  14
    문과 박윤정  38  72   1  12  11  89
    이과 이가은   8  34  65  99  86  39
    문과 정범영  50  78   3  89  77  68
       정예지   1  20  74  61  57  70
21기 문과 강주연  96  55  94   6  35  94
       김현아  93  91  20  90  10  69
    이과 김혜진  32  11  27  47  84   2
    문과 문성희  30  59  56  92  63  91
    이과 이세영  19  58  80  79  93   4
       이영주  28  95  64  95  99  93
       이현서  35  86  65  60  75  21
       이다빈  53  34  65  10  97   4
       천승아  81  96  80  73  72  10
    문과 나윤진  81  24  43  81  77  77
       박수완  96  12  59  76  82  62
    이과 서민혁  22  89  24  83  12  70
       이상민  77  64   2  53  14  44
       전윤아  42   8  85  59  37  70
    문과 정현정  31  28  56  79  23  92
       조준혁  56  30  48  63  18  15

In [ ]:
python_study = pd.DataFrame(,
                            columns=,
                            index=[num,major,name])

In [54]:
python_study = pd.DataFrame(np.random.randint(1, 101, (25, 6)),
                            columns = [['1학기', '1학기', '1학기', '2학기', '2학기', '2학기'], ['언어', '수리', '외국어', '언어', '수리', '외국어']],
                            index = [num, major, name])
python_study

           1학기         2학기
            언어  수리 외국어  언어  수리 외국어
19기 문과 양용준  32  11  56  35  19   4
       김현기  42  51  13  31  98  15
20기 문과 김우찬  30  11   2  34   1   5
    이과 김지윤  76  53   4  17  64  84
       박세희  40  31  92   5  44  14
    문과 박윤정  38  72   1  12  11  89
    이과 이가은   8  34  65  99  86  39
    문과 정범영  50  78   3  89  77  68
       정예지   1  20  74  61  57  70
21기 문과 강주연  96  55  94   6  35  94
       김현아  93  91  20  90  10  69
    이과 김혜진  32  11  27  47  84   2
    문과 문성희  30  59  56  92  63  91
    이과 이세영  19  58  80  79  93   4
       이영주  28  95  64  95  99  93
       이현서  35  86  65  60  75  21
       이다빈  53  34  65  10  97   4
       천승아  81  96  80  73  72  10
    문과 나윤진  81  24  43  81  77  77
       박수완  96  12  59  76  82  62
    이과 서민혁  22  89  24  83  12  70
       이상민  77  64   2  53  14  44
       전윤아  42   8  85  59  37  70
    문과 정현정  31  28  56  79  23  92
       조준혁  56  30  48  63  18  15

## 본인의 1학기, 2학기 전체 성적을 출력해주세요

In [56]:
python_study.loc['20기', '이과', '박세희']

1학기  언어     40
     수리     31
     외국어    92
2학기  언어      5
     수리     44
     외국어    14
Name: (20기, 이과, 박세희), dtype: int64

## 20기 1학기 성적을 출력주세요

In [57]:
python_study.xs('1학기', axis = 1, level = 0)

            언어  수리  외국어
19기 문과 양용준  32  11   56
       김현기  42  51   13
20기 문과 김우찬  30  11    2
    이과 김지윤  76  53    4
       박세희  40  31   92
    문과 박윤정  38  72    1
    이과 이가은   8  34   65
    문과 정범영  50  78    3
       정예지   1  20   74
21기 문과 강주연  96  55   94
       김현아  93  91   20
    이과 김혜진  32  11   27
    문과 문성희  30  59   56
    이과 이세영  19  58   80
       이영주  28  95   64
       이현서  35  86   65
       이다빈  53  34   65
       천승아  81  96   80
    문과 나윤진  81  24   43
       박수완  96  12   59
    이과 서민혁  22  89   24
       이상민  77  64    2
       전윤아  42   8   85
    문과 정현정  31  28   56
       조준혁  56  30   48

## 이과의 1학기, 2학기 성적을 출력해주세요

In [58]:
python_study.xs('이과', axis = 0, level = 1)

        1학기         2학기
         언어  수리 외국어  언어  수리 외국어
20기 김지윤  76  53   4  17  64  84
    박세희  40  31  92   5  44  14
    이가은   8  34  65  99  86  39
21기 김혜진  32  11  27  47  84   2
    이세영  19  58  80  79  93   4
    이영주  28  95  64  95  99  93
    이현서  35  86  65  60  75  21
    이다빈  53  34  65  10  97   4
    천승아  81  96  80  73  72  10
    서민혁  22  89  24  83  12  70
    이상민  77  64   2  53  14  44
    전윤아  42   8  85  59  37  70

## 1학기 때 언어, 수리 평균은 문과/이과 중 누가 더 높을까?
### HINT: 처음부터 이과이면서 1학기 성적을 추출하려 하지말고 이과를 출력한 다음에 과목 성적 추출

In [64]:
# 이과(natural sciences)

nat = python_study.xs('이과', axis = 0, level = 1)
nat_first = nat.xs('1학기', axis = 1, level = 0)
nat_lang = nat_first['언어'].mean()
nat_math = nat_first['수리'].mean()

In [65]:
# 문과(liberal arts)

lib = python_study.xs('문과', axis = 0, level = 1)
lib_first = lib.xs('1학기', axis = 1, level = 0)
lib_lang = lib_first['언어'].mean()
lib_math = lib_first['수리'].mean()

In [66]:
print("The average language of natural sciences is ", nat_lang, ".")
print("The average math of natural sciences is ", nat_math, ".")
print("The average language of liberal arts is ", lib_lang, ".")
print("The average math of liberal arts is ", lib_math, ".")

The average language of natural sciences is  42.75 .
The average math of natural sciences is  54.916666666666664 .
The average language of liberal arts is  52.0 .
The average math of liberal arts is  41.69230769230769 .

## 아래와 같이 각 사람마다의 1학기 2학기 각 과목 평균을 구해주세요

In [4]:
# 밑에 셀에서 작성해주세요
mean

              평균
              언어    수리   외국어
19기 문과 양용준  33.5  15.0  30.0
       김현기  36.5  74.5  14.0
20기 문과 김우찬  32.0   6.0   3.5
    이과 김지윤  46.5  58.5  44.0
       박세희  22.5  37.5  53.0
    문과 박윤정  25.0  41.5  45.0
    이과 이가은  53.5  60.0  52.0
    문과 정범영  69.5  77.5  35.5
       정예지  31.0  38.5  72.0
21기 문과 강주연  51.0  45.0  94.0
       김현아  91.5  50.5  44.5
    이과 김혜진  39.5  47.5  14.5
    문과 문성희  61.0  61.0  73.5
    이과 이세영  49.0  75.5  42.0
       이영주  61.5  97.0  78.5
       이현서  47.5  80.5  43.0
       이다빈  31.5  65.5  34.5
       천승아  77.0  84.0  45.0
    문과 나윤진  81.0  50.5  60.0
       박수완  86.0  47.0  60.5
    이과 서민혁  52.5  50.5  47.0
       이상민  65.0  39.0  23.0
       전윤아  50.5  22.5  77.5
    문과 정현정  55.0  25.5  74.0
       조준혁  59.5  24.0  31.5

In [68]:
# first / second semester
python_1st = python_study.xs('1학기', axis = 1, level = 0)
python_2nd = python_study.xs('2학기', axis = 1, level = 0)

python_mean = (python_1st + python_2nd) / 2
python_mean

              언어    수리   외국어
19기 문과 양용준  33.5  15.0  30.0
       김현기  36.5  74.5  14.0
20기 문과 김우찬  32.0   6.0   3.5
    이과 김지윤  46.5  58.5  44.0
       박세희  22.5  37.5  53.0
    문과 박윤정  25.0  41.5  45.0
    이과 이가은  53.5  60.0  52.0
    문과 정범영  69.5  77.5  35.5
       정예지  31.0  38.5  72.0
21기 문과 강주연  51.0  45.0  94.0
       김현아  91.5  50.5  44.5
    이과 김혜진  39.5  47.5  14.5
    문과 문성희  61.0  61.0  73.5
    이과 이세영  49.0  75.5  42.0
       이영주  61.5  97.0  78.5
       이현서  47.5  80.5  43.0
       이다빈  31.5  65.5  34.5
       천승아  77.0  84.0  45.0
    문과 나윤진  81.0  50.5  60.0
       박수완  86.0  47.0  60.5
    이과 서민혁  52.5  50.5  47.0
       이상민  65.0  39.0  23.0
       전윤아  50.5  22.5  77.5
    문과 정현정  55.0  25.5  74.0
       조준혁  59.5  24.0  31.5